<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<context:component-scan base-package="es.curso" />

	<mvc:annotation-driven />

	<bean id="viewResolverJSP"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/vistas/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:resources mapping="/img/**" location="/WEB-INF/img/" />

	<bean id="usuario1" class="es.curso.model.entity.Usuario">
		<property name="nombre" value="Jose"></property>
		<property name="pass" value="1234"></property>
	</bean>

	<bean id="usuario2" class="es.curso.model.entity.Usuario">
		<property name="nombre" value="admin"></property>
		<property name="pass" value="1234"></property>
	</bean>

	<bean id="listUsuarios" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="es.curso.model.entity.Usuario">
				<ref bean="usuario1" />
				<ref bean="usuario2" />
			</list>
		</constructor-arg>
	</bean>

	<bean id="videojuego1"
		class="es.curso.model.entity.Videojuego">
		<property name="id" value="0"></property>
		<property name="nombre" value="Battlefield 2042"></property>
		<property name="compania" value="EA"></property>
		<property name="nota" value="8.9"></property>
		<property name="creador" value="DICE"></property>
		<property name="enlace"
			value="https://www.ea.com/es-es/games/battlefield/battlefield-2042"></property>
		<property name="foto"
			value="https://cdn.cloudflare.steamstatic.com/steam/apps/1517290/capsule_616x353.jpg?t=1634670876"></property>
	</bean>

	<bean id="videojuego2"
		class="es.curso.model.entity.Videojuego">
		<property name="id" value="1"></property>
		<property name="nombre" value="Call Of Duty Vanguard"></property>
		<property name="compania" value="Activision"></property>
		<property name="nota" value="7.4"></property>
		<property name="creador" value="Sledgehammer Games"></property>
		<property name="enlace"
			value="https://www.callofduty.com/content/atvi/callofduty/vanguard/web/es/home.html"></property>
		<property name="foto"
			value="https://generacionxbox.com/wp-content/uploads/2021/08/call-of-duty-vanguard-1.jpg"></property>
	</bean>

	<bean id="videojuego3"
		class="es.curso.model.entity.Videojuego">
		<property name="id" value="2"></property>
		<property name="nombre" value="Cyberpunk 2077"></property>
		<property name="compania" value="CD Projekt"></property>
		<property name="nota" value="5.6"></property>
		<property name="creador" value="CD Projekt"></property>
		<property name="enlace"
			value="https://www.cyberpunk.net/us/es/"></property>
		<property name="foto"
			value="https://compass-ssl.xbox.com/assets/f4/33/f4334b89-2ea2-4f28-a07d-1be0dc219123.jpg?n=Cyberpunk-2077_GLP-Page-Hero-0_1083x609_08.jpg"></property>
	</bean>

	<bean id="listVideojuegos" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="es.curso.model.entity.Videojuego">
				<ref bean="videojuego1" />
				<ref bean="videojuego2" />
				<ref bean="videojuego3" />
			</list>
		</constructor-arg>
	</bean>
</beans>